@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Basic", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
}

.buttonClasses {
  @apply  shadow-none hover:shadow-none !important
}

/* Custom styles for react-datepicker */
.react-datepicker {
  border-radius: 0.75rem; /* Rounded borders for the calendar */
}

.react-datepicker__navigation {
  top: 20px; /* Adjust as necessary */
}

.react-datepicker__day--selected {
  background-color: #10b981 !important; /* Tailwind teal-500 */
}
